{% load static %}


    <div class="row sticky-bottom">
        <div class="col-12 bg-info d-flex justify-content-between" style="width: 100%; height: 80px; ">
            <div class="left-div d-flex flex-column  align-items-center" style="width: 50%; height: 100%;">
                <h2 class="text-light">Olup bitenleri kacirma</h2>
                <p class="text-light">ilk ogrenen Twitter kullanicilari olacak</p>
            </div>
            <div class="right-div d-flex justify-content-end align-items-center" style="width: 50%; height: 100%;">
                <a href="{% url 'Login' %}">
                    <div class="btn btn-primary  h-50 rounded-5">Giris yap</div>
                </a>
                <a href="{% url 'Register' %}">
                    <div class="btn btn-light h-50 mx-5 rounded-5 ">Kaydol</div>
                </a>
            </div>
        </div>
    </div>
