{% extends 'base.html' %}
{% load static %}


{% block body %}
<!--------------------------------------------------------------------------------------(-_-) CENTER-MAIN (-_-)---------------------------------------------------------------------------->
<div class="col-lg-6 col-sm-10 col-12 ">
    <main> 
        <div class="reg d-flex  justify-content-center">
          
        </div>
        <div class=" sticky-top d-flex bg-light justify-content-center align-items-center rounded-5">
            <span class="material-symbols-outlined">
                search
            </span>
            <form class="d-flex" role="search" style="width: 90% !important;">
                <input class="form-control me-3 rounded-5" type="search" placeholder="Twitrer'da ara"
                    aria-label="Search">
            </form>
            <span class="material-symbols-outlined ">
                Settings
            </span>
        </div>

        <div class="ornek my-5" style="width: 100%; height: auto; ">
            <div class="sizinicin">
                <h5>Sizin icn trendler</h5>
            </div>
            <div class="trendler my-4">
                <div class="trendtitle d-flex justify-content-between">
                    <span style="color: gray; font-size: 15px;"> Haberler.Trendler</span>
                    <div class="dahaf">...</div>
                </div>
                <div class="hestek">
                    <h6 style="font-weight: 700;">#Kayseri</h6>
                    <span style="color: garay; font-size: 12px;">12.1K Tweetler</span>
                </div>


            </div>
            <div class="trendler">
                <div class="trendtitle d-flex justify-content-between">
                    <span style="color: gray; font-size: 15px;"> Türkiye'de Trend Olanlar</span>
                    <div class="dahaf">...</div>
                </div>
                <div class="hestek">
                    <h6 style="font-weight: 700;">#Kayseri</h6>
                    <span style="color: garay; font-size: 12px;">12.1K Tweetler</span>
                </div>


            </div>
            <div class="trendler my-4">
                <div class="trendtitle d-flex justify-content-between">
                    <span style="color: gray; font-size: 15px;"> Spor Trendler</span>
                    <div class="dahaf">...</div>
                </div>
                <div class="hestek">
                    <h6 style="font-weight: 700;">#depremler</h6>
                    <span style="color: garay; font-size: 12px;">12.1K Tweetler</span>
                </div>


            </div>
        </div>
        <div class="ornek my-5" style="width: 100%; height: auto; ">
            <div class="sizinicin">
                <h5>Sizin icn trendler</h5>
            </div>
            <div class="trendler my-4">
                <div class="trendtitle d-flex justify-content-between">
                    <span style="color: gray; font-size: 15px;"> Haberler.Trendler</span>
                    <div class="dahaf">...</div>
                </div>
                <div class="hestek">
                    <h6 style="font-weight: 700;">#Kayseri</h6>
                    <span style="color: garay; font-size: 12px;">12.1K Tweetler</span>
                </div>


            </div>
            <div class="trendler">
                <div class="trendtitle d-flex justify-content-between">
                    <span style="color: gray; font-size: 15px;"> Türkiye'de Trend Olanlar</span>
                    <div class="dahaf">...</div>
                </div>
                <div class="hestek">
                    <h6 style="font-weight: 700;">#Kayseri</h6>
                    <span style="color: garay; font-size: 12px;">12.1K Tweetler</span>
                </div>


            </div>
            <div class="trendler my-4">
                <div class="trendtitle d-flex justify-content-between">
                    <span style="color: gray; font-size: 15px;"> Spor Trendler</span>
                    <div class="dahaf">...</div>
                </div>
                <div class="hestek">
                    <h6 style="font-weight: 700;">#depremler</h6>
                    <span style="color: garay; font-size: 12px;">12.1K Tweetler</span>
                </div>


            </div>
        </div>
        <div class="ornek my-5" style="width: 100%; height: auto; ">
            <div class="sizinicin">
                <h5>Sizin icn trendler</h5>
            </div>
            <div class="trendler my-4">
                <div class="trendtitle d-flex justify-content-between">
                    <span style="color: gray; font-size: 15px;"> Haberler.Trendler</span>
                    <div class="dahaf">...</div>
                </div>
                <div class="hestek">
                    <h6 style="font-weight: 700;">#Kayseri</h6>
                    <span style="color: garay; font-size: 12px;">12.1K Tweetler</span>
                </div>


            </div>
            <div class="trendler">
                <div class="trendtitle d-flex justify-content-between">
                    <span style="color: gray; font-size: 15px;"> Türkiye'de Trend Olanlar</span>
                    <div class="dahaf">...</div>
                </div>
                <div class="hestek">
                    <h6 style="font-weight: 700;">#Kayseri</h6>
                    <span style="color: garay; font-size: 12px;">12.1K Tweetler</span>
                </div>


            </div>
            <div class="trendler my-4">
                <div class="trendtitle d-flex justify-content-between">
                    <span style="color: gray; font-size: 15px;"> Spor Trendler</span>
                    <div class="dahaf">...</div>
                </div>
                <div class="hestek">
                    <h6 style="font-weight: 700;">#depremler</h6>
                    <span style="color: garay; font-size: 12px;">12.1K Tweetler</span>
                </div>


            </div>
        </div>

        <!-- alt header -->
        <div class="d-flex d-sm-none sticky-bottom align-items-center justify-content-center bg-light">
            <ul class="nav col-12 col-lg-auto my-2 justify-content-between my-md-0 text-small">
                <li>
                    <a href="#" class="nav-link p-0">
                        <svg style="width:25px; height:25px;" viewBox="0 0 24 24" aria-hidden="true"
                            class="r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-cnnz9e">
                            <g>
                                <path
                                    d="M12 1.696L.622 8.807l1.06 1.696L3 9.679V19.5C3 20.881 4.119 22 5.5 22h13c1.381 0 2.5-1.119 2.5-2.5V9.679l1.318.824 1.06-1.696L12 1.696zM12 16.5c-1.933 0-3.5-1.567-3.5-3.5s1.567-3.5 3.5-3.5 3.5 1.567 3.5 3.5-1.567 3.5-3.5 3.5z">
                                </path>
                            </g>
                        </svg>

                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link p-0">
                        <svg style="width:25px; height:25px;" viewBox="0 0 24 24" aria-hidden="true"
                            class="r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-cnnz9e">
                            <g>
                                <path
                                    d="M10.25 3.75c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5c1.795 0 3.419-.726 4.596-1.904 1.178-1.177 1.904-2.801 1.904-4.596 0-3.59-2.91-6.5-6.5-6.5zm-8.5 6.5c0-4.694 3.806-8.5 8.5-8.5s8.5 3.806 8.5 8.5c0 1.986-.682 3.815-1.824 5.262l4.781 4.781-1.414 1.414-4.781-4.781c-1.447 1.142-3.276 1.824-5.262 1.824-4.694 0-8.5-3.806-8.5-8.5z">
                                </path>
                            </g>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link p-0">
                        <svg style="width:25px; height:25px;" viewBox="0 0 24 24" aria-hidden="true"
                            class="r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-cnnz9e">
                            <g>
                                <path
                                    d="M19.993 9.042C19.48 5.017 16.054 2 11.996 2s-7.49 3.021-7.999 7.051L2.866 18H7.1c.463 2.282 2.481 4 4.9 4s4.437-1.718 4.9-4h4.236l-1.143-8.958zM12 20c-1.306 0-2.417-.835-2.829-2h5.658c-.412 1.165-1.523 2-2.829 2zm-6.866-4l.847-6.698C6.364 6.272 8.941 4 11.996 4s5.627 2.268 6.013 5.295L18.864 16H5.134z">
                                </path>
                            </g>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link p-0">
                        <svg style="width:25px; height:25px;" viewBox="0 0 24 24" aria-hidden="true"
                            class="r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-cnnz9e">
                            <g>
                                <path
                                    d="M1.998 5.5c0-1.381 1.119-2.5 2.5-2.5h15c1.381 0 2.5 1.119 2.5 2.5v13c0 1.381-1.119 2.5-2.5 2.5h-15c-1.381 0-2.5-1.119-2.5-2.5v-13zm2.5-.5c-.276 0-.5.224-.5.5v2.764l8 3.638 8-3.636V5.5c0-.276-.224-.5-.5-.5h-15zm15.5 5.463l-8 3.636-8-3.638V18.5c0 .276.224.5.5.5h15c.276 0 .5-.224.5-.5v-8.037z">
                                </path>
                            </g>
                        </svg>
                    </a>
                </li>

            </ul>
        </div>
       
    </main>
</div>

<!--------------------------------------------------------------------------------------(-_-) RIGHT-FOTHER (-_-)---------------------------------------------------------------------------->
<div class="col-3 d-none d-lg-block">
    <footer class="sticky-top ">
        <h5 class="mt-5" style="font-weight: 700;">Twitter'da yeni misin?</h5>
        <div class="logout-fother d-flex flex-column align-items-center">
            <p style="color: gray;">Kişiselleştirilmiş zaman akışını almak için hemen kaydol!</p>
            <!-- ----------------------------------------gogle -->
            <div class="google d-flex align-items-center justify-content-center"
             style="border-top: 1px solid rgb(211, 227, 235); width: 100%; height: 45px; border-bottom: 1px solid rgb(211, 227, 235);" >
                <svg width="18px" height="20px" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"
                    class="LgbsSe-Bz112c">
                    <g>
                        <path fill="#EA4335"
                            d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
                        </path>
                        <path fill="#4285F4"
                            d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z">
                        </path>
                        <path fill="#FBBC05"
                            d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z">
                        </path>
                        <path fill="#34A853"
                            d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z">
                        </path>
                        <path fill="none" d="M0 0h48v48H0z"></path>
                    </g>
                </svg>
                <button class="my-3 border-0 bg-light">Google ile oturum açın</button>
            
            </div>
            <!-- appleee------------------------------------------------------------------------ -->
            <div class="apple my-3 d-flex justify-content-center align-items-center"
             style="border-top: 1px solid rgb(211, 227, 235); width: 100%; height: 45px; border-bottom: 1px solid rgb(211, 227, 235);"
            >
                <svg width="18px" height="20px" viewBox="0 0 24 24" aria-hidden="true"
                    class="r-4qtqp9 r-yyyyoo r-z80fyv r-1d4mawv r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-19wmn03"
                    style="color: rgb(15, 20, 25);">
                    <g>
                        <path
                            d="M16.365 1.43c0 1.14-.493 2.27-1.177 3.08-.744.9-1.99 1.57-2.987 1.57-.12 0-.23-.02-.3-.03-.01-.06-.04-.22-.04-.39 0-1.15.572-2.27 1.206-2.98.804-.94 2.142-1.64 3.248-1.68.03.13.05.28.05.43zm4.565 15.71c-.03.07-.463 1.58-1.518 3.12-.945 1.34-1.94 2.71-3.43 2.71-1.517 0-1.9-.88-3.63-.88-1.698 0-2.302.91-3.67.91-1.377 0-2.332-1.26-3.428-2.8-1.287-1.82-2.323-4.63-2.323-7.28 0-4.28 2.797-6.55 5.552-6.55 1.448 0 2.675.95 3.6.95.865 0 2.222-1.01 3.902-1.01.613 0 2.886.06 4.374 2.19-.13.09-2.383 1.37-2.383 4.19 0 3.26 2.854 4.42 2.955 4.45z">
                        </path>
                    </g>
                </svg>
                <button class="my-3 border-0 bg-light" >Apple ile Giriş yap
            </button>
            
            </div>

            
            <div class="hesap my-3 d-flex justify-content-center align-items-center"
             style="border-top: 1px solid rgb(211, 227, 235); width: 100%; height: 45px; border-bottom: 1px solid rgb(211, 227, 235);"
            >
                <button class="my-3 border-0 bg-light" >Hesabını oluştur </button>
            </div>

            <p>By signing up, you agree to the <a href="#" style="text-decoration: none;">Terms of Service</a>  and 
                <a href="#" style="text-decoration: none;">Privacy Policy</a> , including <a href="#" style="text-decoration: none;">Cookie Use</a>.</p>

        </div>
    </footer>
    
</div>

<div class="sticky-bottom bg-info w-100 d-flex justify-content-between " style="height: 70px ;">
    <div class="text-left">
        <h3 class="text-light">Olup bitenleri kaçırma</h3>
        <p  class="text-light"> İlk öğrenen Twitter kullanıcıları olacak.</p>
    </div>
   <div class="log-reg-right d-flex justify-content-between align-items-center">
    <a  href="{% url 'Login' %}" class="text-decoration-none text-dark">
        <div class="btn btn-primary rounded-5" style="border: 1px solid white;">Giriş yap</div>
    </a>
    
    <a id="registers" href="{% url 'Register' %}"class="text-decoration-none text-dark" >
        <div class="btn bg-light rounded-5 mx-5" style="border: 1px solid white;">Kaydol</div>
    </a>
   </div>
</div>
{% endblock body %}